@media screen and (max-width:1199px) and (min-height:599px) {

body{
    overflow-x: hidden;
    
}
.navbar{
    height: 0;
}
    /* .navbar{
        margin: 0;
        display: flex;
        gap: 10px;
        width: 100%;
        height: 10vh;
   display: flex;
   justify-content: center;
        align-items: center;
        padding: 5px;

       
    }
    #nav-list{
       
  column-gap: 16px;
        
       
     
      
    } */
    .image-container{
        width: 100%;
        gap:52px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

    }
    .image-pf{
        height: 300px;
        width: 300px;
    }
    nav{
        display: none;
    }
 /* nav{
    display: flex;
        align-items: center;
        justify-content: center;
    width: 100%;
    
    border-radius: 0;

  
    
    position: absolute;

 }
 nav a{
    font-size: 18px;
 } */
    p{
       font-size: xx-large;
    }
    .paragraph{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    #education{
        margin: 10px;
        gap: 5px;
        
        
    }

    .details-edu{
        flex-direction: column;
        gap:5px;
    }
    .edu-info{
        height: 40vh;
        width: 80vw;
        margin: 0px;
        
        display: flex;
        gap: 1.5px;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        border-bottom:2px solid white ;
        border: none;
    }
   .certification{
    width: 80%;
    /* width: 100%; */
    margin: 0px;
    padding: 15px;
    padding-bottom: 30px;
   }
   .certificate-container{
        width: 90%;
   }
   .certificate-section{
    flex-direction: column;
    width: 100%;
   }
   .heading-edu{
    padding-top: 25px;
    height: 80px;
    margin-bottom: 0px;
   }
   .first-ul{
    display: flex;
    flex-direction: column;
    font-size: 22px;
 
   }
   .heading{
    margin: 0;
    width: 100%;
   }
   #skills{
    width: 100%;
    height: 100%;
    gap: 15px;
    margin-top: 10px;

   }
   .branches{
  
    flex-direction: column;
    gap:0;
    width: 10vw;
   }
   .branch-1,.branch-2,.branch-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
   }
   #projects{
   height: 100%;
   }
   .logo{
    border: 0;
    width: 90%;
    gap:10px
   }
   
   .percentage{
    display: none;
   }
   .project-section{

    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   }
   .proj-container{
    width:80%;
   }
   .socials{
    flex-direction: row;
   }
   .footer-sec{
    font-size: x-small;
   }
   .socl{
    /* display: none; */
    height: 20px;
   
   }
   .socials{
    gap:2px;
   }
   .image-container-proj{
    width: 100%;
   }
   .description{
    gap:20px;
   }
   button{
    width:65px;
   }
   .btn-2{
    width: 90px;
   }

}